importFrom("vroom",  "vroom_fwf", "fwf_widths")
importFrom("utils", "read.table")

export(epa2005,
       test.metadata,
       defun2011, ees2010, 
       censo2010,
       censo2001,
       censo2001_provincias,
       censo1991,
       censo1991_provincias,       
       epf.2011.gastos,
       epf.2011.hogares, 
       epf.2011.miembros,
       padron2016)
